/secrets/*
/backend/app/config/__pycache__/*
  --- IGNORE ---


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies

frontend/app/node_modules
frontend/app/.pnp
frontend/app/.pnp.*
frontend/app/.yarn/*
!frontend/app/.yarn/patches
!frontend/app/.yarn/plugins
!frontend/app/.yarn/releases
!frontend/app/.yarn/versions
# testing
/frontend/app/coverage

# next.js
/frontend/app/.next/
/frontend/app/out/

# production
/frontend/app/build
# misc
.DS_Store
*.pem

# debug
frontend/app/npm-debug.log*
frontend/app/yarn-debug.log*
frontend/app/yarn-error.log*
frontend/app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/app/.env*

# vercel
frontend/app/.vercel

# typescript
frontend/app/*.tsbuildinfo
frontend/app/next-env.d.ts
